@page "/courses"
@model CoursesModel

<h2>List of all courses</h2>
<a href="/courses/create" class="btn btn-success"><i class="bi bi-plus-lg"></i>New Course</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Textbook</th>
      <th scope="col">Credit Hours</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var (course, index) in Model.Courses.Select((c,i) => (c, i+1)))
    {
      <tr>
        <th scope="row">@index</th>
        <td>@course.Name</td>
        <td>@course.TextBook</td>
        <td>@course.CreditHrs</td>           
      </tr>
    }    
  </tbody>
</table>