@page "/courses/delete/{id:int}"
@model EditCourseModel


<h2 class="text-danger">Are you sure to delete course @Model.Course.Name?</h2>
<form method="post">
    <input type="hidden" asp-for="Course.Id" />
    <button type="submit" class="btn btn-danger" href="/Courses">Delete</button>
    <a class="btn btn-success" href="/Courses">Cancel</a>
</form>